<footer>

	{{ HTML.link('/', 'Français') }} - {{ HTML.link('en', 'English') }}<br>
	&copy; {{ "now"|date('Y') }} - autopergamene - Maxime Fabre
	<hr>

	<div class='footer-container'>
		<ul class='social'>
			{% for service in services %}
				<li>
					<a target='_blank' href='{{ service.link }}'>
						{{ service.linkName }}/<span class='name'>anahkiasen</span>
					</a>
				</li>
			{% endfor %}
		</ul>

		<section class="colophon last">
			<p>
				{% set laravel = HTML.linkBlank('http://laravel.com/', 'Laravel') %}
				{% set sass    = HTML.linkBlank('http://sass-lang.com', 'Sass') %}
				{% set compass = HTML.linkBlank('http://compass-style.org/', 'Compass') %}
				{% set susy    = HTML.linkBlank('http://susy.oddbird.net/', 'Susy') %}
				{% set typekit = HTML.linkBlank('https://typekit.com/colophons/enr5hww', 'Typekit') %}

				{% trans -%}
					Ce site a été construit en utilisant {{ laravel }}.<br>Le design a été codé en {{ sass }} avec {{ compass }} et {{ susy }}.<br>Polices fournies par {{ typekit }}.
				{%- endtrans %}
			</p>

			<p>
				<a target="_blank" href="https://github.com/Anahkiasen/autopergamene">{{ 'Sources en libre consultation'|trans }}</a>
			</p>
		</section>
	</div>

</footer>
