{% extends 'layouts.global' %}

{% block title %}
	{{ article.name }} - Les articles -
{% endblock %}

{% block css %}
	{{ assets('article.css') }}
{% endblock %}

{% block navigation %}
	{{ html_homeLink() }}
	{{ html_backLink(url_action('CategoriesController@category', category.id), "Retour à #{category.name}") }}
{% endblock %}

{% block layout %}
	{% if article.image %}
		<section class='article novel'>
	{% else %}
		<section class='article'>
	{% endif %}
		<h1>{{ article.name }}</h1>
		<article>
			{{ article.content }}
			<blockquote>
				<strong>Publié le : {{ article.creationDate }}</strong>
			</blockquote>
		</article>
	</section>
{% endblock %}

{% block js %}
	{{ assets('article.js') }}
{% endblock %}
