{% extends '_layouts.global' %}

{% block title %}
	{{ article.name }} - {{ 'Les articles'|trans }} -
{% endblock %}

{% block css %}
	{{ Assets.styles('article.css') }}
{% endblock %}

{% block navigation %}
	{{ HTML.homeLink() }}
	<a href="{{ URL.action('Autopergamene\\Controllers\\CategoriesController@category', category.id) }}" class="bank">{{ 'Retour à'|trans }} {{ category.name }}</a>
{% endblock %}

{% block layout %}
	{% if article.image %}
		<section class='article novel'>
	{% else %}
		<section class='article'>
	{% endif %}
		<h1>{{ article.name }}</h1>
		<article>
			{{ article.content }}
			<blockquote>
				<strong>{{ 'Publié le'|trans }} : {{ article.creationDate }}</strong>
			</blockquote>
		</article>
	</section>
{% endblock %}

{% block js %}
	{{ Assets.scripts('article') }}
{% endblock %}
