{% extends '_layouts.global' %}

{% block title %}
	{{ story.name }} -
{% endblock %}

{% block css %}
	{{ Assets.styles('article.css') }}
{% endblock %}

{% block navigation %}
	{{ HTML.homeLink() }}
	<a href="{{ category.getPath('show') }}" class="bank">{{ 'Retour à'|trans }} {{ category.name }}</a>
{% endblock %}

{% block layout %}
	<section class='novel'>
		<h1>{{ story.name }}</h1>
		<figure class='cover' style='background-image: url({{ story.image }})'></figure>
		{% if story.content %}
			<article>
				{{ story.content }}
				<blockquote>
					<strong>{{ 'Publié le'|trans }} : {{ story.created_at }}</strong>
				</blockquote>
			</article>
		{% else %}
			<div class='alert'>{{ "Cette nouvelle n'est pas encore lisible ici."|trans }}</div>
		{% endif %}
	</section>
{% endblock %}
