{% extends '_layouts.portfolio' %}

{% block title %}
	{{ support.name }} -
{% endblock %}

{% block navigation %}
	{{ parent() }}
	<a href="{{ URL.action('Autopergamene\\Controllers\\CategoriesController@show', 'illustration') }}" class="back">{{ 'Retour aux supports'|trans }}</a>
{% endblock %}

{% block content %}
	{% for illustration in support.illustrations %}
		<figure class='illustration'>
			<h2>{{ illustration.name }}</h2>

			<div class='image-wrap'>
				{{ illustration.image(support.folder) }}
			</div>
			{% if illustration.media %}
				<figcaption>{{ illustration.media }}</figcaption>
			{% endif %}
		</figure>
	{% endfor %}
{% endblock %}

{% block js %}
	{{ Assets.scripts('lazyload') }}
{% endblock %}
