{% extends '_layouts.portfolio' %}

{% block content %}
	<section class='memorabilia'>
		<p>
			{% trans -%}
				J'ai commencé à faire de la photographie il y a quelques temps déjà. Ma raison était alors purement préventive — j'allais entrer en école de communication visuelle et m'étais dit que la photographie en serait un prérequis.Mes premières images étaient de ce qui m'entouraient — objets et personnes — et peu à peu ma passion s'est tournée vers les lieux abandonnés et ce qu'ils évoquent.
			{%- endtrans %}
		</p>

		{% include '_partials.articles-list.articles-list' %}

		{% for collection in collections %}
			<article class='collection'>
				<h2>{{ collection.name }}</h2>
				{% if collection.description %}
					<p>{{ collection.description }}</p>
				{% endif %}

				{% for photoset in collection.photosets %}
					<figure class='photoset--list'>
						<a href='{{ URL.action('PhotographiesController@photoset', photoset.slug) }}'>
							{{ HTML.image(photoset.thumbnail.large_square, photoset.name) }}
							<figcaption>
								<h3>{{ photoset.name }}</h3>
								<h4>{{ photoset.created_at.toDateString }}</h4>
							</figcaption>
						</a>
					</figure>
				{% endfor %}
			</article>
		{% endfor %}
	</section>
{% endblock %}
