{% extends 'layouts.portfolio' %}

{% block content %}
	{{ lang('repositories.introduction', {
		laravel: html_linkBlank('http://laravel.com', 'Laravel') ,
		composer: html_linkBlank('http://getcomposer.org', 'Composer'),
		psr: html_linkBlank('https://github.com/php-fig/fig-standards', 'PSR'),
	}) }}

	{% include 'partials.articles-list.articles-list' %}

	{# <h2>{{ lang('repositories.projects') }}</h2> #}
	<h2>{{ lang('repositories.repositories') }}</h2>
	<p>{{ lang('repositories.repositories_intro') }}</p>

	{% for repository in repositories %}
		{% if title is not defined and not repository.master %}
			{% set title = lang('repositories.collaboration') %}
			<h2>{{ title }}</h2>
			<p>{{ lang('repositories.collaboration_intro') }}</p>
		{% endif %}

		<article class='repository'>
			<a href='{{ repository.link }}' target='_blank'>
				<figure>
					<h3>{{ repository.name }}</h3>
					<h4>{{ repository.content }}</h4>
				</figure>
			</a>
			{% if not repository.master %}
				<p>{{ lang('repositories.by') }} {{ repository.author }}</p>
			{% endif %}
			<p>
				<strong>tags :</strong>
				{% if repository.tags %}
					{{ repository.tags|join(', ') }}
				{% else %}
					<em>{{ lang('repositories.notags') }}</em>
				{% endif %}
			</p>
			<p>{{ repository.status }} {{ repository.getButton('watch') }} {{ repository.getButton('fork') }}</p>
		</article>
	{% endfor %}
{% endblock %}
