{% extends '_layouts.portfolio' %}

{% block content %}
	{% set laravel  = HTML.linkBlank('http://laravel.com', 'Laravel') %}
	{% set composer = HTML.linkBlank('http://getcomposer.org', 'Composer') %}
	{% set psr      = HTML.linkBlank('https://github.com/php-fig/fig-standards', 'PSR') %}
	<p>
		{% trans -%}
		Un ensemble de projets ou librairies développées au fur et à mesure de mon travail. En majorité des bundles pour le framework {{ laravel }} ou distribués via {{ composer }}
		{%- endtrans %}
	</p>
	<p>
		{% trans -%}
		Tous sont en PHP — même si mes compétences s'étendent à d'autres langages, j'ai principalement eu l'occasion de créer des packages. Le framework Laravel étant devenu un des acteurs majeurs de la scène PHP en peut de temps, il y avait un vide à combler dans son écosystème de bundles.
		{%- endtrans %}
	</p>
	<p>
		{% trans -%}
		Étant très à cheval sur le fait de rester à jour quand on est webdévelopeur on webdesigner, tous réspectent autant que faire se peut les standards du {{ psr }} et tirent partie des dernières avancées en terme d'OOP (namespaces, magic methods, etc).
		{%- endtrans %}
	</p>

	{% include '_partials.articles-list.articles-list' %}

	{# Projects #}
	<hr>
	<h2>{{ 'Projets'|trans }}</h2>
	<article class='project'>
		<div class='project__summary'>
			<h3>
				The Laravel Packages Registry
				<small>{{ 'Un Packagist-like dédié aux packages pour le framework Laravel'|trans }}</small>
			</h3>
			<nav class="project__summary__links">
				{{ HTML.linkBlank('https://registry.autopergamene.eu', 'Voir le site'|trans) }}
				{{ HTML.linkBlank('https://github.com/Anahkiasen/registry', 'Voir les sources'|trans) }}
			</nav>
		</div>
		<figure>
			{{ HTML.image('app/img/web/registry.png', 'Registry', {'class': 'image-wrap'}) }}
			<figcaption>{{ 'Accueil'|trans }}</figcaption>
		</figure>
		<figure>
			{{ HTML.image('app/img/web/registry-package.png', 'Registry', {'class': 'image-wrap'}) }}
			<figcaption>{{ 'Paquets'|trans }}</figcaption>
		</figure>
		<figure>
			{{ HTML.image('app/img/web/registry-maintainer.png', 'Registry', {'class': 'image-wrap'}) }}
			<figcaption>{{ 'Maintainers'|trans }}</figcaption>
		</figure>
	</article>

	{# Libraries #}
	<hr>
	<h2>{{ 'Libraries'|trans }}</h2>
	<p>{{ 'Les liens pointent soit sur Github vers la source, soit vers le site du projet.'|trans }}</p>

	{% for repository in repositories %}
		<article class='repository'>
			<a href='{{ repository.link }}' target='_blank'>
				<figure>
					<h3>{{ repository.name }}</h3>
					<h4>{{ repository.content }}</h4>
				</figure>
			</a>
			<p>
				<strong>tags :</strong>
				{% if repository.tags %}
					{{ repository.tags|join(', ') }}
				{% else %}
					<em>{{ 'Aucun tag associé'|trans }}</em>
				{% endif %}
			</p>
			<p>{{ repository.status }} {{ repository.getButton('watch') }} {{ repository.getButton('fork') }}</p>
		</article>
	{% endfor %}
{% endblock %}
