{% extends '_layouts.portfolio' %}

{% block content %}
	<p>
		{% trans -%}
		Ci-dessous des nouvelles écrites entre 2007 et 2010, toutes dans un registre plutôt sombre et un style ampoulé qui m'a souvent été reproché. Malgré cela ce portfolio ne serait complet si ces textes n'y étaient présents. Leur longueur varie, leur qualité aussi — mes compétences s'étant améliorées à mesure que j'écrivais.
		{%- endtrans %}
	</p>

	{% include '_layouts.partials.navigation' with {links: stories} %}

	{% for story in stories %}
		<article class='novel-summary' id='{{ story.id }}'>
			<h2>{{ story.name }}</h2>
			<figure class='cover' style='background-image: url({{ story.image }})'></figure>
			{% set ages = story.created_at.diffInYears() %}
			<p>
				{% trans -%}
				<strong>Publiée</strong> il y a {{ ages }} ans
				{%- endtrans %}
			</p>
			<blockquote>{{ story.description }}</blockquote>
			{{ HTML.blockLink(story.getPath('show'), 'Lire la nouvelle'|trans) }}
		</article>
	{% endfor %}
{% endblock %}

{% block js %}
	{{ Assets.scripts('affixed') }}
{% endblock %}
